/* ダイアログ表示時はBGMが流れないため、確認のために表示する */
/* ヘッダー, チャットヘッダー */
header,
/* 編集ボタン*/
.sc-dSuTWQ,
/* チャットメニュー */
.sc-iTONeN,
/* カットイン */
.sc-gJwTLC,
/* 監視モード */
[role="alert"],
/* スクロールバー */
::-webkit-scrollbar
{
    display: none !important;
}
/* 以下の要素はクリックによる操作のために透明化する */
/* 音量調節 */
.sc-ikjQzJ.eLyRoF,
/* 拡大縮小 */
.sc-hZgfyJ.iydCdD
{
    opacity: 0 !important;
}

.react-draggable
{
    pointer-events: none !important;
}