/* ダイアログ表示時はBGMが流れないため、確認のために表示する */
/* ヘッダー */
header,
/* 編集ボタン*/
.sc-bGWzfD,
/* チャット */
.MuiPaper-elevation0,.sc-gFGZVQ,
/* チャットポップアップ */
.sc-gGnURB,
/* モーダル */
[role="presentation"],
/* ステータス */
.sc-cwpsFg.fjqig,
/* 監視モード */
[role="alert"],
/* スクロールバー */
::-webkit-scrollbar
{
    display: none !important;
}

/* 音量調節 */
.sc-fWjsSh.dvIgZb,
/* 拡大縮小 */
.sc-gVAlfg.cDMISq
{
    opacity: 0 !important;
}

.react-draggable
{
    pointer-events: none !important;
}

.sc-kgUAyh.bQuPFq
{
    right: 0 !important;
}
