/* ダイアログ表示時はBGMが流れないため、確認のために表示する */
/* ヘッダー */
header,
/* 編集ボタン */
#root > div > div:nth-of-type(2) > button,
/* 背景 */
#root > div > div:nth-of-type(1),
/* チャット */
#root > div > div:nth-of-type(3) > div,
/* チャットポップアップ */
#root > div > div:nth-of-type(2) > div:nth-of-type(5),
/* モーダル */
[role="presentation"],
/* ステータス */
#root > div > div:nth-of-type(2) > div:nth-of-type(5),
#root > div > div:nth-of-type(2) > div:nth-of-type(6):not(.MuiPaper-root),
/* 監視モード */
[role="alert"],
/* スクロールバー */
::-webkit-scrollbar
{
    display: none !important;
}

/* 音量調節 */
#root > div > div:nth-of-type(2) > div:nth-of-type(3),
/* 拡大縮小 */
#root > div > div:nth-of-type(2) > div:nth-of-type(4)
{
    opacity: 0 !important;
}

.react-draggable
{
    pointer-events: none !important;
}

/* チャット分の余白をキャンセル */
#root > div > div:nth-of-type(2)
{
    right: 0 !important;
}