body {
    background-color: rgba(0, 0, 0, 0);
    margin: 0px auto;
    overflow: hidden;
}
/* ヘッダー */
header,
/* 編集ボタン */
#root > div > div:nth-of-type(2) > button,
/* チャット */
#root > div > div:nth-of-type(3) > div,
/* チャットポップアップ */
/* #root > div > div:nth-of-type(2) > div:nth-of-type(5), */
/* モーダル */
[role="presentation"],
/* 音量調節 */
#root > div > div:nth-of-type(2) > div:nth-of-type(3),
/* 拡大縮小 */
#root > div > div:nth-of-type(2) > div:nth-of-type(4),
/* 前景 */
#root > div > div:nth-of-type(2) > div:nth-of-type(1),
/* 背景 */
#root > div > div:nth-of-type(1),
/* カットイン */
/* OBSではhasはまだ使えない */
/* #root > div > div:nth-of-type(2) > div:nth-of-type(n+6):not(:has(span)), */
#root > div > div:nth-of-type(2) > div:nth-of-type(n+6) > div > img,
/* ステータス数値 */
#root > div > div:nth-of-type(2) > div:nth-of-type(5) > div > div,
#root > div > div:nth-of-type(2) > div:nth-of-type(6):not(.MuiPaper-root) > div > div,
/* DEX */
#root > div > div:nth-of-type(2) > div:nth-of-type(5) > div > span > span,
#root > div > div:nth-of-type(2) > div:nth-of-type(6):not(.MuiPaper-root) > div > span > span,
/* 監視モード */
[role="alert"],
/* スクロールバー */
::-webkit-scrollbar
{
    display: none !important;
}

/* カットインの背景色を無色に */
#root > div > div:nth-of-type(2) > div:nth-of-type(n+6) {
    background-color: rgba(0,0,0,0);
}

/* チャット分の余白をキャンセル */
#root > div > div:nth-of-type(2)
{
    right: 0 !important;
}

/* ステータス省略の幅を上書き */
#root > div > div:nth-of-type(2) > div:nth-of-type(5) > div > div > div,
#root > div > div:nth-of-type(2) > div:nth-of-type(6):not(.MuiPaper-root) > div > div > div
{
    display: block;
}
@media (max-width: 170px){
    #root > div > div:nth-of-type(2) > div:nth-of-type(5) > div > div > div,
    #root > div > div:nth-of-type(2) > div:nth-of-type(6):not(.MuiPaper-root) > div > div > div
    {
        display: none !important;
    }
}

#root > div > div:nth-of-type(2)
{
    display: grid;
    place-content: center;
}
#root > div > div:nth-of-type(2) > div:nth-of-type(5),
#root > div > div:nth-of-type(2) > div:nth-of-type(6):not(.MuiPaper-root)
{
    width: 100%;
    height: 100%;
    max-height: none;
    padding: 0;
    position: static;
}

/* キャラの背景色、枠線→無色　&　はみだし無効 */
#root > div > div:nth-of-type(2) > div:nth-of-type(5) > div > span > div,
#root > div > div:nth-of-type(2) > div:nth-of-type(6):not(.MuiPaper-root) > div > span > div
{
    overflow: visible !important;
    background-color: rgba(0, 0, 0, 0) !important;
    border-color: rgba(0, 0, 0, 0) !important;
}

#root > div > div:nth-of-type(2) > div:nth-of-type(5),
#root > div > div:nth-of-type(2) > div:nth-of-type(6):not(.MuiPaper-root),
#root > div > div:nth-of-type(2) > div:nth-of-type(5) > div > span > div > button,
#root > div > div:nth-of-type(2) > div:nth-of-type(6):not(.MuiPaper-root) > div > span > div > button
{
    overflow: visible !important;
}

/* キャラの画像サイズを大きくする */
#root > div > div:nth-of-type(2) > div:nth-of-type(5) > div > span > div > button > img,
#root > div > div:nth-of-type(2) > div:nth-of-type(6):not(.MuiPaper-root) > div > span > div > button > img
{
    transform: scale(8);
}
