body {
    background-color: rgba(0, 0, 0, 0);
    margin: 0px auto;
    overflow: hidden;
}

/* ヘッダー */
header,
/* 編集ボタン*/
.sc-dSuTWQ,
/* チャット */
.sc-bBXxYQ,
/* チャットポップアップ */
.sc-djUGQo,
/* モーダル */
[role="presentation"],
/* 音量調節 */
.sc-ikjQzJ,
/* 拡大縮小 */
.sc-hZgfyJ,
/* 前景 */
.sc-djvmMF,
/* 背景 */
.sc-TRNrF,
/* カットイン */
.sc-gJwTLC,
/* 監視モード */
[role="alert"],
/* スクロールバー */
::-webkit-scrollbar
{
    display: none !important;
}

/* チャット分の余白をキャンセル */
.sc-kgUAyh.bQuPFq
{
    right: 0 !important;
}

/* ステータス省略の幅を上書き */
.sc-cwpsFg.fjqig > div > div > div
{
    display: block;
}
@media (max-width: 170px){
    .sc-cwpsFg.fjqig > div > div > div
    {
        display: none !important;
    }
}

/* ステータスを中央寄せ */
.sc-kgUAyh
{
    display: grid;
    place-content: center;
}

.sc-cwpsFg
{
    position: relative;
    top: 0px;
    overflow: visible;
}

/* 色々消す */
.sc-gUAEMC,.MuiBadge-anchorOriginTopRightRectangle,.MuiTouchRipple-root{
    display: none;
}

/* キャラの背景色、枠線→無色　&　はみだし無効 */
.MuiButtonBase-root,.MuiAvatar-root{
    background-color: rgba(0, 0, 0, 0) !important;
    overflow: visible !important;
    border-color: rgba(0, 0, 0, 0) !important;
}
/* キャラの画像サイズを大きくする */
.sc-cwpsFg{
    transform: scale(8);
}