@import url("https://d-suke3141.github.io/css-for-obs-stream/ccfolia/parts/status-text.css");
:root
{
    --font-color: {font_color};
    --font-family: "{font_family}";
    --width: {width};
    --name: {name};
}

#root > div > div:nth-of-type(2) > div:nth-of-type(5) > div:not(:nth-child({character_number})),
#root > div > div:nth-of-type(2) > div:nth-of-type(6):not(.MuiPaper-root) > div:not(:nth-child({character_number}))
{
    display: none;
}