@import url("https://d-suke3141.github.io/css-for-obs-stream/discord/character.css");
:root
{
    --image-url-1: url("{image_url1}");
    --image-url-2: url("{image_url2}");
    --name: "{name}";
    --name-size: {name_size};
    --animation: {animation};
}
li[class*="State"] > img:not([src*="{discord_id}"])
{
    display: none;
}